html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: arial, sans-serif;
    align-items: stretch;
}
header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.left, .center, .right {
    display: flex;
    align-items: center;   
}

.item {
    text-decoration: none;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    padding: 2px;
    margin: 5px;
}

.item:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
}
section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search_mic {
    width: 24px;
    position: relative;
    right: 40px;
    top: 8px;
}

.search_bar {
    padding: 15px;
    width: 525px;
    height: 12px;
    margin: 0 auto 16px auto;
    font-size: 16px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #e2e2e2;
}

.search_bar:focus, .button:focus {
    outline: #000000;
}

.button {
    display: inline-block;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
    padding: 10px 15px;
    margin: 11px 4px;
}

.button:hover {
    border: 1px solid #d6d6d6;
    color: #000000;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 8px 16px;
    background-color: #eeeeee;
    border: 1px solid #d6d6d6;
}